body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
.orange-highlight{
    color: orange;
}
section{
    height: 500px;
}
.header{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%; 
}
.header p{
    text-align: justify;
    font-size: 14px;
}
.header h1{
    font-size: 45px;
}
.header img{
    width: 100%; 
}
.hire-btn{
    margin-top: 30px;
    margin-left: 30px;
    
}
.hire-btn a{
    text-decoration: none;
    background-image: linear-gradient( lightsalmon, tomato);
    padding: 4px 45px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.hire-btn a:hover{background-color: goldenrod; color: black; transition: 1s;}

.secund-header{
    float: right;
    width: 40%;
    padding-right: 2%;
    margin-right: 5%
}

.secund-header p{
    text-align: justify;
    font-size: 14px;
}
.secund-header h1{
    font-size: 45px;
}
.secund-header img{
    width: 100%;
}
.second-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    ;
}
#full-stack{
    border-left: 7px solid;
    border-right: 7px solid;
    border-image: linear-gradient(rgb(152, 7, 236),rgb(247, 3, 125) );
    border-image-slice: 1;
}
#baby{
    border-right: 7px solid;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(152, 7, 236),rgb(247, 3, 125) );
    border-image-slice: 1;

}
footer p{
    text-align: center;
}